.Header{    
    text-align: center;    
}

h1{
    padding-top: 25px;
    font-weight: 600;
}

h1 span{
    color: rgb(204, 231, 255);
}

p{
    font-style: italic;
}

p::after{
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    content: "";
    display: block;
    width: 130px;
    border-top: 3px solid #00e8f8;
    border-radius: 3px;
}