*{
  font-family: 'Inter', sans-serif;  
  color: rgb(247, 247, 247)    
}

.App{
  background-image: linear-gradient(90deg, #292929 0%, black 20%, black 80%, #292929 100%);  
  min-height: 100vmin;
}